%h1 StaticPages#landing_page
%p Find me in app/views/static_pages/landing_page.html.erb
= link_to "Privacy Policy", static_pages_privacy_policy_path, classes: 'link-secondary'
.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "...", :src => "..."}/
  .card-body
    %h5.card-title Card title
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "#"} Go somewhere
